.loginscreen.middle-box {
    width: 300px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.m-t {
    margin-top: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.text-muted {
    color: #888888;
}
.text-muted {
    color: #20AA73;
}
.text-center {
    text-align: center;
}
p {
    margin: 0 0 10px;
}
body.mini-navbar.fixed-sidebar .profile-element, .block {
    display: block !important;
}
.m-b {
    margin-bottom: 15px;
}
.full-width {
    width: 100% !important;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    position: relative;
    padding-left: 4.07142857em!important;
    padding-right: 1.5em!important;
}
.ui.fluid.button {
    display: block;
}
.ui.fluid.button, .ui.fluid.buttons {
    width: 100%;
}
.ui.icon.button, .ui.icon.buttons .button {
    padding: .78571429em;
}
.ui.massive.button, .ui.massive.buttons .button, .ui.massive.buttons .or {
    /*font-size: 1.71428571rem;*/
}
.ui.facebook.button {
    background-color: #3B5998;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 #e7e7e7 inset;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 #e7e7e7 inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background .1s ease 0s;
    transition: background .1s ease 0s;
}
.ui.labeled.icon.button>.icon, .ui.labeled.icon.buttons>.button>.icon {
    position: absolute;
    height: 100%;
    line-height: 1;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    margin: 0;
    width: 2.57142857em;
    background-color: rgba(0,0,0,.05);
    color: '';
    box-shadow: -1px 0 0 0 transparent inset;
    top: 0;
    left: 0;
}
.ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    opacity: .9;
    margin: 0;
    vertical-align: top;
}
.ui.button>.icon:not(.button) {
    height: .85714286em;
    opacity: .8;
    margin: 0 .42857143em 0 -.21428571em;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    vertical-align: '';
    color: '';
}
i.icon, i.icons {
    font-size: 1em;
}
i.fa {
    display: inline-block;
    top: 0;
    opacity: 1;
    /*margin: 0 .25rem 0 0;*/
    width: 1.18em;
    height: 1em;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui.horizontal.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    overflow: hidden;
    line-height: 1;
    text-align: center;
}
.ui.divider {
    margin: 2.6rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
}
.ui.horizontal.divider:after, .ui.horizontal.divider:before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url('line_separator.png');
}
.ui.horizontal.divider:before {
    background-position: right 1em top 50%;
}
.ui.horizontal.divider:after {
    background-position: left 1em top 50%;
}
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important;
}
.ui.facebook.button {
    background-color: #3B5998;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 #e7e7e7 inset;
}
.ui.horizontal.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    overflow: hidden;
    line-height: 1;
    text-align: center;
}
.ui.divider {
    margin: 2.6rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
}
.ui.horizontal.divider:after, .ui.horizontal.divider:before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url('line_separator.png');
}
.ui.horizontal.divider:before {
    background-position: right 1em top 50%;
}
.ui.horizontal.divider:after {
    background-position: left 1em top 50%;
}
.fontsize3{
	font-size: 15px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 .nav-header .text-muted {
    color: #20AA73;
}
.block {
    display: block !important;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.open>.dropdown-menu {
    display: block;
}
.m-t-xs {
    margin-top: 5px;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}
.dropdown-menu>li>a {
    display: block;
    font-size: 14px;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
     background-color: #FFF; 
}
