<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'etaxi_sm_logo.jpg' %>
    <!-- Page Specific CSS thats why all CSS are not located here and there in forms :) Call Karl kong mo palag mn! -->
    <title>Emirates Taxi</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADuSql8wLBfvb8D6JP5cjN5rsEaPtHjG8&callback=initialize" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple" rel="stylesheet" type="text/css">
  </head>

<body>

  <%= yield %>

  </body>
</html>
