<!DOCTYPE html>
<html>
  <head>
    <title>Emirates Taxi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADuSql8wLBfvb8D6JP5cjN5rsEaPtHjG8" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple" rel="stylesheet" type="text/css">
  </head>

<body>

  <%= yield %>
  <footer>
		<div class="container">
			
			<!-- COMPANY ADDRESS-->
			<div class="col-md-5 company-details">
				<div class="icon-top red-text">
				    <i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				P.O. Box 37037, Mussafah Industrial Area, Abu Dhabi, UAE
			</div>
			
			<!-- COMPANY EMAIL-->
			<div class="col-md-2 company-details">
				<div class="icon-top green-text">
					<i class="fa fa-folder-o" aria-hidden="true"></i>
				</div>
				 customer.service@etaxiuae.com
			</div>
			
			<!-- COMPANY PHONE NUMBER -->
			<div class="col-md-2 company-details">
				<div class="icon-top blue-text">
					<i class="fa fa-phone-square" aria-hidden="true"></i>
				</div>
				+971 2-5509511
			</div>
			
			<!-- SOCIAL ICON AND COPYRIGHT -->
			<div class="col-lg-3 col-sm-3 copyright">
				<ul class="social">
					<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square"></i></a></li>
					<li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href=""><i class="fa fa-youtube"></i></a></li>					
				</ul>
				 ©2017 Emirates National Group
			</div>
		</div> <!-- / END CONTAINER -->
	</footer>
	<script type="text/javascript">
		$(function() {

				  var map;
				  var myLatlng = new google.maps.LatLng(24.357350, 54.511057); // EMIRATES TAXI LAT AND LNG
				  var myOptions = {
				    zoom: 14,
				    center: myLatlng,
				    mapTypeId: google.maps.MapTypeId.ROADMAP
				  }
				  map = new google.maps.Map(document.getElementById("g-spot"), myOptions);
				        var marker = new google.maps.Marker({
				          position: myLatlng,
				          map: map,
				          title: 'Nia ko diri!'
				        });
  		});
	</script>

  </body>
</html>
